{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}

    <body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/" class="site_title"><p class="fa fa-line-chart"></p><span>MRXstats</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Statistiques</h3>
                            <ul class="nav side-menu">
                                <li><a><i class="fa fa-industry"></i> Statistiques Fab <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="">Volume fab</a></li>
                                        <li><a href="">Leadtime fab</a></li>
                                        <li><a>Retour fab<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu"><a href="">Synthèse</a>
                                                </li>
                                                <li><a href="">Defaut</a>
                                                </li>
                                                <li><a href="">Journalier</a>
                                                </li>
                                                <li><a href="">Mensuel</a>
                                                </li>
                                                <li><a href="">Action</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-pagelines"></i> Statistiques Stock <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="">Volume stock</a></li>
                                        <li><a href="">Leadtime stock</a></li>
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-user"></i> Statistiques Client <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="">Retour client</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <!-- top tiles -->
                <div class="row tile_count">
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-industry"></i> Volume Prod J-1</span>
                        <div class="count">
                            {{reqVolumeDaily[1].SUMQVE | number_format }}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-clock-o"></i> Volume Prod M en Cours</span>
                        <div class="count">
                            {{reqVolumeMonthly[0].SUMQVE | number_format }}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Lead Time J-1</span>
                        <div class="count green"></div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Lead Time M-1</span>
                        <div class="count"></div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Retour Fab J-1</span>
                        <div class="count"></div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Retour Fab M-1</span>
                        <div class="count"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                    <canvas id="mybarChart"></canvas>
                        </div>
                    </div>
                    <!-- /top tiles -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Retour Fabrication</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" style="display: block;">
                                <select id="selectMatiere" multiple="multiple">
                                    <option value={{ reqCodeArticle[1][0] }}>{{ reqCodeArticle[1][1] }}</option>
                                    <option value={{ reqCodeArticle[2][0] }}>{{ reqCodeArticle[2][1] }}</option>
                                    <option value={{ reqCodeArticle[3][0] }}>{{ reqCodeArticle[3][1] }}</option>
                                    <option value={{ reqCodeArticle[4][0] }}>{{ reqCodeArticle[4][1] }}</option>
                                </select>
                                <select id="selectDefaut" multiple="multiple">
                                    {% for reqLabelDefaut in reqLabelDefaut %}
                                        <option value={{ reqLabelDefaut[0] }}>{{ reqLabelDefaut[1] | convert_encoding('UTF-8', 'ISO-8859-1') }}</option>
                                    {% endfor %}
                                </select>
                                <div class="col-md-6">
                                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="row x_title">
                                <div>
                                    Toggle column: <a class="toggle-vis" data-column="0">0</a> - <a class="toggle-vis" data-column="1">1</a> - <a class="toggle-vis" data-column="2">2</a> - <a class="toggle-vis" data-column="3">3</a> - <a class="toggle-vis" data-column="4">4</a> - <a class="toggle-vis" data-column="5">5</a>
                                </div>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="x_content"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                                <canvas id="barChart" width="343" height="100" style="width: 343px; height: 171px;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="page-title">
                    </div>
                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    MRXstats - Mont-Royal SAS
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    </body>
{% endblock %}