{% extends 'base.html.twig' %}

{% block body %}
    <body class="nav-md">
    <div id="loadingDiv">Loading&#8230;</div>
    <div class="container body">
        <div class="main_container">
            {{ parent() }}
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="/volumefab">Synhtèse</a></li>
                            <li><a href="/volumefabanalyse">Analyse</a></li>
                            <li class="active"><a href="/volumefabprobleme">Actions</a></li>
                        </ul>
                        <button id ="test" type="button" class="btn btn-primary">test</button>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h2>Problème</h2>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h4>Detail du problème</h4>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <ul class="stats-overview">
                                            <li>
                                                <span class="name"> Date du problème </span>
                                                <span class="value text-success"> {{ probleme.dateProbleme | date("d M Y") }} </span>
                                            </li>
                                            <li>
                                                <span class="name"> Responsable </span>
                                                <span class="value text-success"> {{ probleme.responsable }}  </span>
                                            </li>
                                            <li class="hidden-phone">
                                                <span class="name"> Avancement </span>
                                                <span class="value text-success"> {{ probleme.avancement }} % </span>
                                            </li>
                                        </ul>
                                        <ul class="messages">
                                            <li><h4>Description du problème</h4>
                                        <div>{{ probleme.description }}</div>
                                        <small>Créé le {{ probleme.dateCreation|date("d M Y") }}</small>
                                            </li>
                                        </ul>
                                        <div>
                                            <h4>Dernères actions</h4>
                                            <!-- end of user messages -->
                                            <ul class="messages">
                                                {% for action in actions %}
                                                    <li>
                                                        {% if action.status == 2 %}
                                                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Heavy_red_%22x%22.png" class="avatar" alt="Avatar">
                                                            {% elseif action.status == 1 %}
                                                                <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/128x128/check.png" class="avatar" alt="Avatar">

                                                        {% endif %}
                                                        <div class="message_date">
                                                            <h3 class="date text-info">{{ action.dateaction|date("d") }}</h3>
                                                            <p class="month">{{ action.dateaction|date("M") }}</p>
                                                        </div>
                                                        <div class="message_wrapper">
                                                            <blockquote class="message">{{ action.solution }}</blockquote>
                                                            <br>
                                                            <a href="{{ path('volumefabactionvalidate', { 'id': action.id, 'idprobleme': probleme.id })}}" class="btn btn-success btn-xs"><i class="fa fa-check"></i> Terminée </a>
                                                            <a href="{{ path('volumefabactioncancel', { 'id': action.id, 'idprobleme': probleme.id })}}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Annuler </a>
                                                            <a href="{{ path('volumefabactionpending', { 'id': action.id, 'idprobleme': probleme.id })}}" class="btn btn-primary btn-xs"><i class="fa fa-times"></i> Reprendre </a>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <!-- end of user messages -->
                                                {{ form_start(newActionsType) }}
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        {{ form_label(newActionsType.solution) }}
                                                    </div>
                                                    <div class="col-sm-10">
                                                        {{ form_widget(newActionsType.solution) }}
                                                        {{ form_errors(newActionsType.solution) }}
                                                    </div>
                                                </div>
                                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                                            {{ form_end(newActionsType) }}
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    MRXstats - Mont-Royal SAS
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    </div>
    </body>
{% endblock %}