{% extends 'base.html.twig' %}

{% block body %}

    <body class="nav-md">
    <div id="loadingDiv">Loading&#8230;</div>
    <div class="container body">
        <div class="main_container">
            {{ parent() }}
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="/volumefab">Synhtèse</a></li>
                            <li><a href="/volumefabanalyse">Analyse</a></li>
                            <li class="active"><a href="/volumefabprobleme">Actions</a></li>
                        </ul>
                        <button id ="test" type="button" class="btn btn-primary">test</button>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h2>Problèmes</h2>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Nouveau problème</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    {{ form_start(nouveauProjetType) }}
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            {{ form_label(nouveauProjetType.dateProbleme) }}
                                        </div>
                                        <div class="col-sm-10">
                                            {{ form_widget(nouveauProjetType.dateProbleme) }}
                                            {{ form_errors(nouveauProjetType.dateProbleme) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            {{ form_label(nouveauProjetType.description) }}
                                        </div>
                                        <div class="col-sm-8">
                                            {{ form_widget(nouveauProjetType.description) }}
                                            {{ form_errors(nouveauProjetType.description) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            {{ form_label(nouveauProjetType.responsable) }}
                                        </div>
                                        <div class="col-sm-10">
                                            {{ form_widget(nouveauProjetType.responsable) }}
                                            {{ form_errors(nouveauProjetType.responsable) }}
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </div>
                                {{ form_end(nouveauProjetType) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                MRXstats - Mont-Royal SAS
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
    </div>
    </body>
{% endblock %}