{% extends 'base.html.twig' %}

{% block body %}

    <body class="nav-md">
    <div class="container body">
        <div class="main_container">
            {{ parent() }}
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav nav-pills nav-justified">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Menu 1</a></li>
                            <li><a href="#">Menu 2</a></li>
                            <li><a href="#">Menu 3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Retour Fabrication</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" style="display: block;">
                                {{ form_start(valueFilterForm) }}
                                <div class="form-row">
                                    <div class="col-md-4">
                                        {{ form_label(valueFilterForm.dateDefaut) }}
                                        {{ form_widget(valueFilterForm.dateDefaut, { 'attr':  {
                                            'class': 'form-control reportrange ',
                                        }}) }}
                                        {{ form_errors(valueFilterForm.dateDefaut) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        {{ form_label(valueFilterForm.typeMatiere) }}
                                        {{ form_widget(valueFilterForm.typeMatiere, {'id': 'selectMatiere', 'attr':  {
                                            'class': 'form-control',
                                            'multiple':'multiple',
                                        }}) }}
                                        {{ form_errors(valueFilterForm.typeMatiere) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        {{ form_label(valueFilterForm.typeDefaut) }}
                                        {{ form_widget(valueFilterForm.typeDefaut, {'id': 'selectDefaut', 'attr':  {
                                            'class': 'form-control',
                                            'multiple':'multiple',
                                        }}) }}
                                        {{ form_errors(valueFilterForm.typeDefaut) }}
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <button id ="valider" type="button" class="btn btn-primary">Valider</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="http://mrxstats">Reinitialiser</a>
                                        </li>
                                    </ul>
                                </div>
                                <div id="loadingDiv">Loading&#8230;</div>
                                {{ form_end(valueFilterForm) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="row x_title">
                                <div>
                                    Toggle column: <a class="toggle-vis" data-column="0">0</a> - <a class="toggle-vis" data-column="1">1</a> - <a class="toggle-vis" data-column="2">2</a> - <a class="toggle-vis" data-column="3">3</a> - <a class="toggle-vis" data-column="4">4</a> - <a class="toggle-vis" data-column="5">5</a>
                                </div>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="x_content"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                                <canvas id="volumeRetourChart" width="343" height="100" style="width: 343px; height: 171px;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    MRXstats - Mont-Royal SAS
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    </body>
{% endblock %}