{% extends 'base.html.twig' %}

{% block body %}

    <body class="nav-md">
    <div id="loadingDiv">Loading&#8230;</div>
    <div class="container body">
        <div class="main_container">
            {{ parent() }}
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="/volumefab">Synhtèse</a></li>
                            <li><a href="/volumefabanalyse">Analyse</a></li>
                            <li class="active"><a href="/volumefabprojet">Actions</a></li>
                        </ul>
                        <button id ="test" type="button" class="btn btn-primary">test</button>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h2>Problèmes</h2>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h4>Liste des problèmes</h4>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <!-- start project list -->
                                    <table class="table table-striped projects">
                                        <thead>
                                        <tr>
                                            <th>Description</th>
                                            <th>Dèrnière action</th>
                                            <th>Responsable</th>
                                            <th>Etat du projet</th>
                                            <th>Edition</th>
                                        </tr>
                                        </thead>
                                            <tbody>
                                            {% for problem in problems %}
                                        <tr>
                                            <td>
                                                <a>{{ problem.probleme }}</a>
                                                <br />
                                                <small>Créé le {{ problem.dateCreation|date("d/m/Y") }}</small>
                                            </td>
                                            <td>

                                            </td>
                                            <td>
                                                <ul class="list-inline">
                                                    <li>
                                                        <p> {{ problem.responsable }}</p>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="project_progress">
                                                <div class="progress progress_sm">
                                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal={{ problem.avancement }}></div>
                                                </div>
                                                <small>avancement : {{ problem.avancement }}%</small>
                                            </td>
                                            <td>
                                                <a href="{{ path('volumefabproblemedetail') }}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Detail </a>
                                                <a data-toggle="modal" data-target="#commentDialog" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Supprimer </a>
                                            </td>
                                        </tr>
                                                <div class="modal fade" id="commentDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title" id="myModalLabel">Attention</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                Voulez vous réellement supprimer ce commentaire ?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                                <a href="{{ path('volumefabproblemedelete', { 'id': problem.id }) }}" class="btn btn-danger">Valider</a>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <!-- end project list -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newProject">
                                        Nouveau problème </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="newProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Nouveau projet</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ form_start(nouveauProjetType) }}
                                                    <div class="form-group">
                                                        <div class="col-sm-2">
                                                            {{ form_label(nouveauProjetType.dateProbleme) }}
                                                        </div>
                                                        <div class="col-sm-10">
                                                            {{ form_widget(nouveauProjetType.dateProbleme) }}
                                                            {{ form_errors(nouveauProjetType.dateProbleme) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-2">
                                                            {{ form_label(nouveauProjetType.probleme) }}
                                                        </div>
                                                        <div class="col-sm-10">
                                                            {{ form_widget(nouveauProjetType.probleme) }}
                                                            {{ form_errors(nouveauProjetType.probleme) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-2">
                                                            {{ form_label(nouveauProjetType.responsable) }}
                                                        </div>
                                                        <div class="col-sm-10">
                                                            {{ form_widget(nouveauProjetType.responsable) }}
                                                            {{ form_errors(nouveauProjetType.responsable) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-2">
                                                            {{ form_label(nouveauProjetType.actions) }}
                                                        </div>
                                                        <div class="col-sm-10">
                                                            {{ form_widget(nouveauProjetType.actions) }}
                                                            {{ form_errors(nouveauProjetType.actions) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                                </div>
                                                {{ form_end(nouveauProjetType) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!-- /page content -->
<!-- footer content -->
<footer>
    <div class="pull-right">
        MRXstats - Mont-Royal SAS
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>
</body>
{% endblock %}