<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        {% block stylesheets %}

            <!-- Bootstrap -->

            <link href="gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
            <!-- Font Awesome -->
            <link href="gentelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
            <!-- NProgress -->
            <link href="gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">
            <!-- bootstrap-daterangepicker -->
            <link href="gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
            <!-- jQuery custom content scroller -->
            <link href="gentelella/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
            <!-- iCheck -->
            <link href="gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
            <!-- Custom Theme Style -->
            <link href="gentelella/build/css/custom.css" rel="stylesheet">

            <!-- Datatables -->
            <link href="gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
            <link href="gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
            <link href="gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
            <link href="gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
            <link href="gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

            <!-- multiselect -->
            <link href="gentelella/vendors/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet">

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}


            <!-- jQuery -->
            <script src="gentelella/vendors/jquery/dist/jquery.min.js"></script>
            <!-- Bootstrap -->
            <script src="gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
            <!-- FastClick -->
            <script src="gentelella/vendors/fastclick/lib/fastclick.js"></script>
            <!-- NProgress -->
            <script src="gentelella/vendors/nprogress/nprogress.js"></script>
            <!-- Chart.js -->
            <script src="gentelella/vendors/Chart.js/dist/Chart.min.js"></script>
            <!-- jQuery Sparklines -->
            <script src="gentelella/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
            <!-- iCheck -->
            <script src="gentelella/vendors/iCheck/icheck.min.js"></script>
            <!-- Flot -->
            <script src="gentelella/vendors/Flot/jquery.flot.js"></script>
            <script src="gentelella/vendors/Flot/jquery.flot.pie.js"></script>
            <script src="gentelella/vendors/Flot/jquery.flot.time.js"></script>
            <script src="gentelella/vendors/Flot/jquery.flot.stack.js"></script>
            <script src="gentelella/vendors/Flot/jquery.flot.resize.js"></script>
            <!-- Flot plugins -->
            <script src="gentelella/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
            <script src="gentelella/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
            <script src="gentelella/vendors/flot.curvedlines/curvedLines.js"></script>
            <!-- DateJS -->
            <script src="gentelella/vendors/DateJS/build/date.js"></script>
            <!-- bootstrap-daterangepicker -->
            <script src="gentelella/vendors/moment/min/moment.min.js"></script>
            <script src="gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
            <!-- jQuery custom content scroller -->
            <script src="gentelella/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
            <!-- Custom Theme Scripts -->
            <script src="gentelella/build/js/custom.js"></script>
            <!-- Datatables -->
            <script src="gentelella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
            <script src="gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
            <script src="gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
            <script src="gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
            <script src="gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
            <script src="gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
            <script src="gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
            <script src="gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
            <script src="gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
            <script src="gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
            <script src="gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
            <script src="gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
            <!-- multiselect -->
            <script src="gentelella/vendors/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
        {% endblock %}
    </body>
</html>
